 @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: Roboto;
    font-size: 24px;
    background: thistle;
    margin:0;
    padding:0;
}

.header {
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    font-weight: 800;
    font-size: 24px;
    background: darkslateblue;
    padding: 25px;
    color: whitesmoke;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 80%;
}

.result {
    display: flex;
    justify-content: center;
    padding: 15px 15px 15px 15px;
    margin: 0 30% 0 30%;
    gap: 0px;
}

.victor {
    font-weight: 800;
    font-size: 26px;
}

.wins, .draws, .losses, .total{
    height: 40px;
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0%;
    font-weight: 800;
}

.description {
    margin-top: 40px;
    font-weight: 800;
}

.choiceContainer {
    display: flex;
    justify-content: center;
    padding: 15px 15px 45px 15px;
    gap: 50px;
}

.rock, .paper, .scissors {
    background: bisque;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
}

.playerChoice, .computerChoice {
    height: 100px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: italic;
}